{
  "extends": "airbnb",
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "jsx-a11y/href-no-hash": "off",
    "react/forbid-prop-types": "off"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint"
}
